body{
    background-color: yellow;
}
h1{
    text-align: center;
}
.box {
    display: flex;
    justify-content: center;
}
.num{
    padding-top: 80px;
}
.row1{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(21, 144, 144);
    animation: sample 2s infinite alternate;
    margin: 20px;
}
@keyframes sample{
    0%{
        transform: skewx(-30deg);
    }
    100%{
        transform: skewx(30deg);
    }
}
.row2{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(21, 144, 144);
    animation: sample 2s infinite alternate;
    margin: 20px;
}
@keyframes sample{
    0%{
        transform: skewx(-30deg);
    }
    100%{
        transform: skewx(30deg);
    }
}
.row3{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(21, 144, 144);
    animation: sample 2s infinite alternate;
    margin: 20px;
}
@keyframes sample{
    0%{
        transform: skewx(-30deg);
    }
    100%{
        transform: skewx(30deg);
    }
}
.box2 {
    display: flex;
    justify-content: center;
}
.row11{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: gray;
    animation: two 2s infinite alternate;
    margin: 20px;
}
@keyframes two{
    0%{
        transform: skewy(-30deg);
    }
    100%{
        transform: skewy(30deg);
    }
}
.row12{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: gray;
    animation: two 2s infinite alternate;
    margin: 20px;
}
@keyframes two{
    0%{
        transform: skewy(-30deg);
    }
    100%{
        transform: skewy(30deg);
    }
}
.row13{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: gray;
    animation: two 2s infinite alternate;
    margin: 20px;
}
@keyframes two{
    0%{
        transform: skewy(-30deg);
    }
    100%{
        transform: skewy(30deg);
    }
}
.box3{
    display: flex;
    justify-content: center;
}
.row21{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(109, 109, 224);
    animation: three 2s infinite forwards;
    margin: 20px;
}
@keyframes three{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.row22{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(109, 109, 224);
    animation: three 2s infinite forwards;
    margin: 20px;
}
@keyframes three{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.row23{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color:rgb(109, 109, 224);
    animation: three 2s infinite forwards;
    margin: 20px;
}
@keyframes three{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box4{
    display: flex;
    justify-content: center;
}
.row31{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color:rgb(109, 109, 224);
    animation: four 3s infinite backwards ;
    margin: 20px;
}
@keyframes four{
    0%{
        transform: scaley(1);
    }
    50%{
        transform: scaley(0.5);
    }
    100%{
        transform: scaley(1);
    }
}
.row32{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color:brown;
    animation: five 3s infinite ;
    margin: 20px;
}
@keyframes five{
    0%{
        transform: scalex(1);
    }
    50%{
        transform: scalex(0.5);
    }
    100%{
        transform: scalex(1);
    }
}
.row33{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color:green;
    animation: six 5s infinite  ;
    margin: 20px;
}
@keyframes six{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}body{
    background-color: yellow;
}
h1{
    text-align: center;
}
.box {
    display: flex;
    justify-content: center;
}
.num{
    padding-top: 80px;
}
.row1{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(21, 144, 144);
    animation: sample 2s infinite alternate;
    margin: 20px;
}
@keyframes sample{
    0%{
        transform: skewx(-30deg);
    }
    100%{
        transform: skewx(30deg);
    }
}
.row2{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(21, 144, 144);
    animation: sample 2s infinite alternate;
    margin: 20px;
}
@keyframes sample{
    0%{
        transform: skewx(-30deg);
    }
    100%{
        transform: skewx(30deg);
    }
}
.row3{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(21, 144, 144);
    animation: sample 2s infinite alternate;
    margin: 20px;
}
@keyframes sample{
    0%{
        transform: skewx(-30deg);
    }
    100%{
        transform: skewx(30deg);
    }
}
.box2 {
    display: flex;
    justify-content: center;
}
.row11{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: gray;
    animation: two 2s infinite alternate;
    margin: 20px;
}
@keyframes two{
    0%{
        transform: skewy(-30deg);
    }
    100%{
        transform: skewy(30deg);
    }
}
.row12{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: gray;
    animation: two 2s infinite alternate;
    margin: 20px;
}
@keyframes two{
    0%{
        transform: skewy(-30deg);
    }
    100%{
        transform: skewy(30deg);
    }
}
.row13{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: gray;
    animation: two 2s infinite alternate;
    margin: 20px;
}
@keyframes two{
    0%{
        transform: skewy(-30deg);
    }
    100%{
        transform: skewy(30deg);
    }
}
.box3{
    display: flex;
    justify-content: center;
}
.row21{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(109, 109, 224);
    animation: three 2s infinite forwards;
    margin: 20px;
}
@keyframes three{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.row22{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(109, 109, 224);
    animation: three 2s infinite forwards;
    margin: 20px;
}
@keyframes three{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.row23{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color:rgb(109, 109, 224);
    animation: three 2s infinite forwards;
    margin: 20px;
}
@keyframes three{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box4{
    display: flex;
    justify-content: center;
}
.row31{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color:rgb(109, 109, 224);
    animation: four 3s infinite backwards ;
    margin: 20px;
}
@keyframes four{
    0%{
        transform: scaley(1);
    }
    50%{
        transform: scaley(0.5);
    }
    100%{
        transform: scaley(1);
    }
}
.row32{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color:brown;
    animation: five 3s infinite ;
    margin: 20px;
}
@keyframes five{
    0%{
        transform: scalex(1);
    }
    50%{
        transform: scalex(0.5);
    }
    100%{
        transform: scalex(1);
    }
}
.row33{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color:green;
    animation: six 5s infinite  ;
    margin: 20px;
}
@keyframes six{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
